:root {
    --platinum: #EBEBEB;
    --rose: #F0dFDB;
    --tuscany: #CF988D;
    --medium-carmine: #B2442E;
    --russian-green: #6D9F71;
    --amazon: #337357;
    --phthalo-green: #1A3A2C;
}

html {
    overflow-x: hidden;
}

body {
	font-family: trebuchet ms;
	background-color: var(--platinum);
}

.container-lg {
    width:100%;
}

.container-lg-bg {
    width:100%;
    background-color: white;
}

.container-fluid {
    margin: 0 auto;
    margin-bottom: 15px;
	width: 70%;
	border-radius: 5px;
    padding: 15px;
}

.container-fluid-bg {
    margin: 0 auto;
    margin-bottom: 15px;
	width: 70%;
	min-width: 480px;
	border-radius: 5px;
	background-color: white;
    text-align: center;
    padding: 15px;
}

button {
	background-color: var(--amazon);
	color: white;
	border-radius: 4px;
	border: none;
	padding: 5px 20px;
    box-shadow: 2px 2px 5px 2px var(--phthalo-green);
}

button:hover  {
	background-color: var(--russian-green);
	transform: scale(1.05);
}

.button-lg {
    margin-top: 15px;
	font-size: 24px;
}

h2 {
    font-size: 32px;
    text-align: left;
    color: var(--medium-carmine);
	padding: 10px 5px;
	font-weight: bold;
}

p {
    font-size: 18px;
}

/* Header */

.header {
	padding-left: 25px;
}

@font-face {
    font-family: 'Roboto';
    src:url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

.header .logo h1{
    font-family: Roboto;
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	border-right: 10px;
}

.header .logo h1::first-letter {
	font-size: 150%;
}

.header .logo h1+p{
	font-size: 14px;
	color: white;
	margin-top: -15px;
}

.header .nav {
	color: white;
	padding-top: 16px;
	padding-right: 0px;
}

.header .nav li {
	list-style-type:none;
	font-size: 18px;
	border-right: 2px;
	display: inline;
}

.header .nav li a {
	padding-left: 5px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
}

.header .nav li a:hover {
	color: var(--tuscany);
}

.header .col-right {

	text-align: right;
}

.header #number {
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	padding-top: 16px;
}

/* Banner */

#bg_img {
	height:850px;
	width:100%;
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.banner {
    height: 850px;
    padding-top: 100px;
    align-items: top;
	font-size: 32px;
}

.banner h1 {
    color: white;
	padding-bottom: 20px;
}

.banner li {
    color: white;
	list-style-type:none;
	font-size: 24px;
	padding: 10px;
}

.banner li i{
    color: var(--russian-green);
    padding-right: 20px;
}

.banner .img_car {
    height: 300px;
}

@keyframes backgroundColorAnimation {
    from {
        background-color: var(--amazon);
    }
    50% {
        background-color: var(--medium-carmine);
    }
    to {
        background-color: var(--amazon);
    }
}

.banner .button-lg {
    margin-top: 15px;
	font-size: 24px;
	animation-name: backgroundColorAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Advantages */

.advantages {
    position: absolute;
	top: 750px;
    align: center;
}

/* Car Table */

.car-table table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white;
}

.car-table td {
    height: 300px;
	padding: 20px 10px;
	font-size: 18px;
	border: 1px solid var(--platinum);
}

.car-table .price {
    font-size: 16px;
    margin-top: -15px;
	font-weight: bold;
}

.car-table .car {
    width: 100%;
}

/* Process */

.process .dot {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 24px;
	color: val(--phthalo-green);
	line-height: 50px;
	text-align: center;
	background-image: radial-gradient(var(--platinum), gray);
	display: inline-block;
	margin-left: 5px;
	border: 2px solid var(--amazon);
}

.process .line {
  content: '';
  position: absolute;
  top: 25px;
  left: 70px;
  width: 210px;
  height: 2px;
  background: linear-gradient(90deg, var(--amazon) 1%, white);
  z-index: 0;
}

.process h4 {
    min-height: 60px;
    padding: 10px 0px;
}

.process p {
    line-height:100%;
}

/* Slider */

.slider{
    position: relative;
    padding-bottom: 15px;
}

.slider input{
    display: none;
}

.slider .inner{
    width: 500%;
}

.inner > article {
    padding-top: 15px;
}

.slider article{
    width: 20%;
    float: left;
}

.slider .slider-dot-control{
    position: relative;
    width: 100%;
    bottom: -5px;
    text-align: center;
}

.slider .slider-dot-control label{
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--tuscany);
}

.slider .slider-dot-control label:hover{
    background-color: white;
}

.slider .slider-wrapper{
    overflow: hidden;
}

.slider .slider-wrapper .inner{
    transform: translateZ(0);
    transition: all .8s cubic-bezier(.77,0,.175,1)
}

.slider #slide1:checked~.slider-dot-control label:nth-child(1),
.slider #slide2:checked~.slider-dot-control label:nth-child(2),
.slider #slide3:checked~.slider-dot-control label:nth-child(3),
.slider #slide4:checked~.slider-dot-control label:nth-child(4){
    background-color: var(--phthalo-green);
}

.slider #slide1:checked~.slider-wrapper .inner{margin-left:0}
.slider #slide2:checked~.slider-wrapper .inner{margin-left:-100%}
.slider #slide3:checked~.slider-wrapper .inner{margin-left:-200%}
.slider #slide4:checked~.slider-wrapper .inner{margin-left:-300%}

/* Terms */

.terms img {
    padding-right: 10px;
    float: left;
}

/* Message */

.message input, textarea[name="Message"]{
    min-height:30px;
	width: 80%;
    color: var(--phthalo-green);
	background-color: white;
	border-radius: 5px;
	padding-left: 10px;
	border: none;
	margin-bottom: 10px;
}

.message #message_img {
	height: 300px;
}

#message_img_col {
    text-align:center;
}

/* Footer */

.footer {
    color: white;
    background-color: black;
}

.footer .social div {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	font-size: 12px;
	color: white;
	line-height: 32px;
	text-align: center;
	background-color: var(--tuscany);
	display: inline-block;
	margin-left: 5px;
}

.footer .social a {
    text-decoration: none;
}

.footer .social div:hover{
	background-color: white;
	color: var(--medium-carmine);
}

.footer .container-fluid {
    margin-bottom: 0px;
}


/*** Media ***/

/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	h2{
		font-size: 26px;
	}
	h4{
	    font-size: 18px;
	}
	p,
	.header .nav li,
	.header .logo h1,
	.header .logo h1+p,
	.header #number,
	.car-table .price,
	button,
	.message input, textarea[name="Message"] {
	    font-size: 16px;
    }
    .header .logo h1:first-letter {
	    font-size: 28px;
	}
	.button-lg, .banner li {
	    font-size: 20px;
	}
	.process .dot {
        width: 44px;
        height: 44px;
	    font-size: 20px;
	    line-height: 40px;
	}
	.process .line {
	    top: 22px;
        left: 63px;
        width: 170px;
        z-index: 0;
    }
    .banner .img_car {
        height: 250px;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .container-fluid, .container-fluid-bg {
        width: 80%;
    }
	h2{
		font-size: 28px;
	}
	h4{
	    font-size: 16px;
	}
	p,
	.header .nav li,
	.header .logo h1,
	.header .logo h1+p,
	.header #number,
	.car-table .price,
	button,
	.message input, textarea[name="Message"] {
	    font-size: 14px;
    }
    .header .logo h1:first-letter {
	    font-size: 26px;
	}
	.button-lg{
	    font-size: 20px;
	}
	.banner li{
	    font-size: 24px;
	}
	.process .dot {
        width: 40px;
        height: 40px;
	    font-size: 18px;
	    line-height: 36px;
	}
	.process .line {
	    top: 19px;
        left: 60px;
        width: 150px;
        z-index: 0;
    }
    #message_img_col, #banner_img_col {
        display: none;
    }
    .banner .img_car {
        display:none;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and(max-width: 767px) {
	.container-fluid, .container-fluid-bg {
        width: 80%;
    }
	h2{
		font-size: 30px;
	}
	h4{
	    font-size: 12px;
	}
	p,
	.header .nav li,
	.header .logo h1,
	.header .logo h1+p,
	.header #number,
	.car-table .price,
	button,
	.message input, textarea[name="Message"] {
	    font-size: 10px;
    }
    .header .logo h1+p{
        margin-top: -5px;
    }
    .header .logo h1:first-letter {
	    font-size: 24px;
	}
	.button-lg{
	    font-size: 20px;
	}
	.banner li{
	    font-size: 24px;
	}
	.process .dot {
        width: 34px;
        height: 34px;
	    font-size: 16px;
	    line-height: 30px;
	}
	.process .line {
	    top: 17px;
        left: 56px;
        width: 60px;
    }
    #message_img_col, #banner_img_col {
        display: none;
    }
    .banner .img_car {
        display:none;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	.container-fluid, .container-fluid-bg {
        width: 80%;
    }
	h2{
		font-size: 28px;
	}
	h4{
	    font-size: 12px;
	}
	.header .nav li,
	.header .logo h1,
	.header .logo h1+p,
	.header #number,
	.car-table .price,
	button,
	.message input, textarea[name="Message"] {
	    font-size: 10px;
    }
    .header .logo h1+p{
        margin-top: -5px;
    }
    .header .logo h1:first-letter {
	    font-size: 20px;
	}
	.button-lg{
	    font-size: 20px;
	}
	.banner li{
	    font-size: 24px;
	}
	.process .dot {
        width: 34px;
        height: 34px;
	    font-size: 16px;
	    line-height: 30px;
	}
	.process .line {
	    top: 16px;
        left: 52px;
        width: 40px;
    }
    #message_img_col, #banner_img_col {
        display: none;
    }
    .banner .img_car {
        display:none;
    }
}


/* Drid */

.grid-container {
    border: solid 2px black;
    display: inline-grid;
    margin-bottom: 20px;
}

.grid-item {
    text-align:center;
    font-size: 18px;
    padding: 16px;
    color: white;
}

.color1 {background-color: var(--rose);}
.color2 {background-color: var(--tuscany);}
.color3 {background-color: var(--medium-carmine);}

#row-col-check {
    grid-template-columns: 100px 150px;
    grid-template-rows: 100px 150px;
}

#repeat-grid-check {
    grid: repeat(2, 80px) / repeat(2, 120px);
}

#flex-factor-check {
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 1fr 150px 1fr;
}

#gap-check {
    width: 214px;
    display: grid;
    grid: repeat(2, 100px) / repeat(2, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.special-item{
    grid-column-start:1;
    grid-column-end: 3;
}

#overlay-check {
    grid: repeat(2, 100px) / repeat(2, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.item1{
    grid-area: 1 / 1 / 3 / 3;
}

.item2{
    grid-area: 1 / 2 / 2 / 2;
    opacity: 0.5;
}

#auto-flow-check {
    height: 250px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
}

.last-item {
    order: 1;
}
.first-item {
    order: -1;
}

#grid-line-check {
    height: 250px;
    grid-template-columns: [col1start] 1fr [col1end] 10px
                           [col2start] 1fr [col2end];
    grid-template-rows: [row1start] 1fr [row1end] 10px
                        [row2start] 1fr [row2end];
}

.grid-line-item1{
    grid-column: col1start / col2end;
    grid-row: row1start;
}

.grid-line-item2{
    grid-column: col1start;
    grid-row: row1start / row2end;
    opacity: 0.5;
}

#grid-area-check {
    height: 500px;
    width: 50%;
    display: grid;
    grid-template-areas: "header header header header header"
                         ". . . . ."
                         "menu . content . sidebar"
                         ". . . . ."
                         "footer footer footer footer footer";
    grid-template-columns: 130px 5px 1fr 5px 130px;
    grid-template-rows: 90px 5px 1fr 5px 90px;
}

.header { grid-area: header; background-color: var(--rose); }
.menu { grid-area: menu; background-color: var(--tuscany); }
.content { grid-area: content; background-color: var(--medium-carmine); }
.sidebar { grid-area: sidebar; background-color: var(--tuscany); }
.footer { grid-area: footer; background-color: var(--rose); }